  div.slick-pane.slick-pane-header.slick-pane-left{
    background-color: #17648D;
    font-family: arial;
    font-weight: bold;
    font-size: 10pt;
    color: #FFFFFF;
    text-align: right;
    }
  div.slick-pane.slick-pane-top.slick-pane-left{
    font-size: 8pt;
    font-family: arial;